<footer class="row footer-section pt-4">
    <div class="col-lg-3 col-sm-12 col-md-6">
      <img class="img-fluid" src="assets/images/mealaweLogo.png">
      <div class="header4 mt-1">
        We at Mealawe bring in technology and solutions for building a healthy society by delivering the best homemade
        food from nearby home chefs.
      </div>
    </div>
    <div class="col-lg-2 col-sm-12 col-md-6">
      <strong class="footer-heading">company</strong>
      <ul class="company-style">
        <li><a href="https://mealawe.com/about/" target="_blank">About us</a></li>
        <li><a href="https://mealawe.com/why-us/" target="_blank">Why us</a></li>
        <li><a href="https://mealawe.com/join-us/" target="_blank">Join Us</a></li>
        <li><a href="https://mealawe.com/careers/" target="_blank">Careers</a></li>
        <li><a href="https://mealawe.com/contact/" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <!-- <div class="col-lg-2 col-sm-12 col-md-6">
      <strong class="footer-heading">account</strong>
      <ul>
        <li>Meal Plans</li>
        <li>My Account</li>
        <li>View Cart</li>
        <li>My Wishlist</li>
      </ul>
    </div> -->
    <div class="col-lg-2 col-sm-12 col-md-6">
      <strong class="footer-heading">info</strong>
      <ul class="company-style">
        <li><a href="https://mealawe.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
        <li><a href="https://mealawe.com/terms/" target="_blank">Terms & Conditions</a></li>
        <li><a href="https://mealawe.com/refund-returns/" target="_blank">Cancellation & Refunds</a></li>
        <li><a href="https://mealawe.com/blog-page/" target="_blank">Blogs</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-sm-12 col-md-6">
      <strong class="footer-heading">contact us</strong>
      <ul class="company-style">
        <li>+91 8275572863</li>
        <li>+91 7276619483</li>
      </ul>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 footer-qr-div alignRight">
      <div>free delivery</div>
      <div>order now</div>
      <!-- <img class="img-fluid footer-qr mt-1" src="/assets/images/footer-qr.svg" alt=""> -->
      <div class="images mt-2">
        <div class="left-img-div">
          <img class="qr-code" src="/assets/images/mealaweQR.png" alt="">
        </div>
        <div class="right-img-div mt-2">
          <div>
            <a href="https://play.google.com/store/apps/details?id=com.mealawe.app&pli=1" target="_blank"><img class="store-links" src="/assets/images/playstore.png" alt=""></a>
          </div>
          <div>
            <a href="https://apps.apple.com/us/app/mealawe-homemade-food-more/id1602148451" target="_blank"><img class="store-links mt-2" src="/assets/images/ios.png" alt=""></a>
          </div>
        </div>
        <!-- <img class="img-fluid" src="/assets/images/qrcode.png" alt=""> -->
      </div>
    </div>
    <div class="header3 rights py-2">Climbing Seeds Pvt Ltd. 2023 All rights reserved</div>
  </footer>
  