@import "/src/styles.scss";
.footer-section {
    background-color: #231f20;
    color: white;

    .header7 {
        padding-bottom: 5%;
        line-height: 15px;
    }

    .footer-heading {
        color: $secondary-color1;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Poppins-bold';
    }

    .footer-heading:after {
        content: '';
        margin-top: 3%;
        width: 45%;
        display: block;
        // margin: 1% auto 2%;
        height: 3px;
        background: linear-gradient(90deg, white 50%, #e0e0e0 50%)
    }

    .company-style {
        li {
            line-height: 25px;
            font-family: 'Poppins-semiBold';
            list-style-type: none;

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        margin-top: 10px;
        padding: 0
    }

    .footer-qr-div {
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Poppins-bold';
        color: $secondary-color1;
    }

    .header7 {
        font-family: 'Poppins-semiBold'
    }

    .rights {
        text-align: center;
        font-family: 'Poppins-bold';
        color: $primary-color5;
        background-color:white;
    }
}