div[scrollx=true] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
       display: none;
    }
     .itemStyle {
       flex: 0 0 auto;       
    }
  }

.couponImageStyle{
    width: 100%;
    height: inherit;
}
.couponName{
    position: relative;
    top: 23px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}

.coupondisplay{
    background: url('~/src/assets/moreimages/couponBG.png');  
    background-repeat: round;
    background-size: contain;
    display: flex;
    flex-direction: row;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
}
.couponIcon{
    background: url('~/src/assets/moreimages/couponIcon.png');  
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 15px;
    width: 39px;
}

.couponDetails{
    background: white;
    margin: 6px 8px;
    padding: 6px 4px;
    border-radius: 10px;
    width: max-content;
    .firstline{
        font-size: 15px;
        font-weight: 700;
        padding: 2px 4px;
    }
    .secondline{     
        font-size: 11px;
        padding: 1px 4px;
        color: #676F81;
        font-weight: 600;
    }
}
