.navbar {
    .navbar-collapse {
        margin-right: 150px;
    }

    li {
        font-size: 16px;
        font-weight: 500;
        padding: 10px 25px;
    }

    .navbar-brand {
        margin-left: 100px;
    }

    .location {
        margin-top: 4px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 15%;
        white-space: nowrap;
    }
}

.below-navbar {
    margin: 30px 125px;
}

.offcanvas {
    width: 35%;

    // padding-left:5%;
    .offcanvas-div {
        padding: 3% 1% 0 20%;
    }

    .form-control {
        width: 100%;
        height: 50px;
        border-radius: 0;
    }
}

.getLocation {
    width: 100%;
    height: 80px;
    padding: 5%;
    border: 1px solid #adadad;
    cursor: pointer;
}

.search-form {

    .savedAddresses,
    .recentSearches {
        height: 80%;
        border: 1px solid #adadad;
        margin-top: 15px;
        padding: 4%;
        cursor: pointer;

        h6 {
            margin-left: 8%;
            font-size: 13px;
            color: #adadad;
            margin-bottom: 0;
            // padding-top:2%; 
        }
    }

    .flex-content {
        padding-left: 3%;
    }
}


.location-canvas-info {
    // padding-left: 7%;
    font-size: 13px;
    color: #adadad;
}

.user-popover {
    color: red;
}

.company-name {
    margin: 5px 5px;
}

.nav-item {
    cursor: pointer;
}

.profileImg {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
}

.termNcondition {
    font-size: 11px;
    width: 100%;
    letter-spacing: 0.1em;
    font-style: italic;
    padding-top: 5px;

    span {
        text-decoration: underline;
        cursor: pointer;
    }
}

.second{
    padding-top:10%;
}

@media only screen and (max-width: 600px) {
    .navbar {
        .navbar-brand {
            margin-left: 10px;
        }
    }
}