@import "/src/styles.scss";

.navbar {
    position:relative;
    padding: 1%;

    li {
        font-size: 16px;
        font-weight: 500;
        padding: 10px 25px;
    }

    .navbar-brand {
        margin-left: 2%;
    }

    .location {
        margin-top: 4px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 15%;
        white-space: nowrap;
    }

    .profile-list {
        list-style: none;
    }
}

.below-navbar {
    margin: 30px 125px;
}

.offcanvas {
    width: 40% !important;

    .form-section {
        padding-top: 50%;
    }

    .account-exists {
        color: $primary-color5;
        margin-top: 5px;
    }

    .login-offcanvas {
        background-image: url('~/src/assets/images/login-drawer-image-2.svg');
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: 100% 0;
    }

    .img-fluid {
        position: absolute;
        height: 100%;
        width: 50%;
        right: 0%;
        top: 1%;
    }

    .header2 {
        font-family: 'Poppins-bold';
        color: $primary-color4
    }

    .header3,
    .header4,
    .header5 {
        font-family: 'Poppins-semiBold';
        color: $primary-color5
    }

    .sub-header {
        font-family: 'Poppins-semiBold';

        .create-account {
            color: $primary-color1;
        }

        :after {
            content: '';
            margin-top: 1%;
            width: 7%;
            display: block;
            // margin: 1% auto 2%;
            height: 1px;
            background-color: $primary-color1;
        }
    }

    .flex-row {
        .btn-primary {
            width: 100%
        }
    }


    .form-group {
        .form-control {
            height: 50px;
            border-radius: 25px;
            width: 50%;
            border-color: grey;
        }
    }

    .signup-form {
        .form-control {
            border-radius: 10px;
        }
    }

    .btn-primary {
        width: 25%;
        border-radius: 20px;
        font-weight: 500;
    }

    &.sign-up {
        .form-group {
            .form-control {
                height: 60px;
                border-radius: 0;
            }
        }

        .btn-primary {
            background-color: #ff8c00;
            border-color: #ff8c00;
            border-radius: 0;
            font-weight: 500;
        }
    }
}

.mobileLocationWrapper {
    display: none;
}

.mobile-header{
    display:none;
}



.getLocation {
    width: 100%;
    height: 80px;
    padding: 5%;
    border: 1px solid #adadad;
    cursor: pointer;
}

.search-form {

    .savedAddresses,
    .recentSearches {
        height: 80%;
        border: 1px solid #adadad;
        margin-top: 15px;
        padding: 4%;
        cursor: pointer;

        h6 {
            margin-left: 8%;
            font-size: 13px;
            color: #adadad;
            margin-bottom: 0;
            // padding-top:2%; 
        }
    }

    .flex-content {
        padding-left: 3%;
    }
}


.location-canvas-info {
    // padding-left: 7%;
    font-size: 13px;
    color: #adadad;
}

.user-popover {
    color: red;
}

.company-name {
    margin: 5px 5px;
}

.nav-item {
    cursor: pointer;
}

.profileImg {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
}

.termNcondition {
    font-size: 11px;
    width: 100%;
    letter-spacing: 0.1em;
    font-style: italic;
    padding-top: 5px;

    span {
        text-decoration: underline;
        cursor: pointer;
    }
}

.second {
    padding-top: 10%;
}

.active-link {
    font-family: 'Poppins-semiBold';
    color: $primary-color1;
}

.cart {
    position: relative;
}

.cartCount {
    position: absolute;
    // padding-left:1%;
    font-size: 10px;
    border: 1px solid;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    text-align: center;
    bottom: 35%;
    right: 10%;
    padding-bottom: 16px;
    color: white;
    background-color: $primary-color1;
    line-height: 18px;
}

@media only screen and (max-width: 600px) {

    .mobile-header{
        display:block;
    }
    .navbar {
        padding: 3% 2%;

        .navbar-brand {
            margin-left: 10px;
        }
    }

    .profile-list {
        padding: 0;
    }

    .location,
    .location-chevron {
        display: none !important;
    }

    .mobileLocationWrapper {
        display: block;
        // position: relative;

        .mobileLocation {
            position: absolute;
            top: 7%;
            left: 17%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            width: 40%;
            white-space: nowrap;
        }
    }

    .offcanvas {
        width: 100% !important;
    }
}

.homeHeader{ 
    display: flex;
    flex-direction: row;
    padding: 40px 16px 5px 16px;
}
.changeStyle{
    position: absolute;
    right: 30px;
    top: 85px;
    color: $primary-color1;
}
.addressStyle{
    width: 68%;
}

.deliverText{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.currentLocation{
    text-overflow: ellipsis;
    width: 90%;
    padding-right: 8px;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    color: black;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    background: url('~src/assets/moreimages/deliverIcon.png');
    background-size: 8px !important;
    background-repeat: no-repeat !important;
    background-position: 100%;
}

.cashback{
    width: 64px;
    border: 1px solid #697586;
    border-radius: 18px;
    margin: 0px 8px 5px 0px;
    .mcoin{
        background: url('~src/assets/moreimages/mcoin.png');
        background-size: 27px;
        background-repeat: no-repeat;
        background-position: 1px center;
        height: 100%;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        padding-left: 27px;
        padding-top: 9px;
        color: #697586;
        text-align: center;
    }
}

.profileImage{
    font-size:25px;
}

.img-span{
    text-align: center;
    display: inline-block;
    border: 1px solid grey;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color:rgba(97, 82, 82, 0.5882352941);
    i{
        font-size:25px;
        color:white;
        line-height:30px;
    }
}

.mobileProfileImg{
    color: #61525296;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

@media only screen and (max-width:600px){
    .desktop-header{
        display:none;
    }
}

@media only screen and (max-width: 820px) and (min-width: 600px) {

    .profile-list {
        padding: 0;
    }

    .location {
        width: 40% !important;
    }

    .offcanvas {
        width: 100% !important;
    }
}