@import "/src/styles.scss";

.orderDate{
    padding-top: 9px;
}
.greyBorderBottom{
    border-bottom: 2px solid #00000017;
}

.listStyle{
    --padding-start: 0;
    --border-color: #d6d1d14f;
    margin-bottom: 8px;
    // box-shadow: -2px 4px 7px -4px #6f61614d;
}

.offcanvas{
    width:40%;
}

.pageContent{
    padding:1%;
    border:1px solid #afafaf;
}