.restaurant-info {
    .speciality-list {
        color: #5a5a5a;
        font-size: 13px;
    }
    .kitchen-name{
        font-size:19px;
        margin-bottom:3%;
    }
}

.selectedOrder {
    background: #F85266;
    color: white !important;
    border: 1px solid #F85266 !important;
}

.orderCapsule {
    display: inline-block;
    border-radius: 17px;
    color: #808080;
    margin: 0px 6px 5px 0px;
    text-align: center;
    border: 1px solid #808080;
    font-size: 12px;
    padding: 8px 12px;
}

.togglediv{
    font-size: 12px;
    padding: 10px 5%;
    .itemFilterdiv{
        display: inline-block;
        border: 1px solid grey;
        padding: 2px 7px;
        margin-right: 8px;
        border-radius: 10px;
        color: grey;
        .filterIcon{
            display: inline-block;
            position: relative;
            top: 1px;
            margin-right: 7px;
            height: 11px;
            width: 11px;
            background-position: center !important;
            background-size: 5px !important;
            background-repeat: no-repeat !important;
        }
        &.selected{
            background: #ff000033;
            border: 1px solid #ff000033;
            color: black;
        }
        .crossIcon{
            display: none;
            &.selectedIcon{
                display: inline-block;
                padding-left: 8px;
            }
        }
    }
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit;
  }

button.accordion-button:focus{
    box-shadow: inherit;
}

.floatingMenu{
    text-align: center;
    position: sticky;
    bottom: 5%;
    left: 45%;
    width: 70px;
    button{
        width: 145px;
        height: 40px;
        border-radius: 11%/50%;
        background: black;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: 1px 1px 10px 2px #4a4545c2;
    }
    // position: fixed;
    // z-index: 11;
    // top: 80%;
    // right: 40%;
    // width: 70px;
    // height: 70px;
    // border-radius: 50%;
    // background: black;
    // color: white;
    // text-align: center;   
    // padding-top: 8px;
    .menuIcon{
        font-size: 32px;
    }
    .menuText{
        color: white;
        font-size: 12px;
    }
}

.positionBottom{
    z-index:3;
    left:392px;
    position: fixed;
    bottom: 0;
    width: 735px;
}

@import "/src/styles.scss";

.kitchenHeader{
    // background: linear-gradient($secondary-color1, $secondary-color3);
    padding-bottom: 15px;
}
.kitchenInfo{
    padding: 45px 0px 0px 0px; 
    display: flex;
    flex-flow: row;   
}
.gobackDiv{
    width: 70%;
    padding-left: 20px;
}

.capsuleStyle{
    padding-left: 25px;
}
.backarrow{
    width: 30px;
    margin-right: 15px;
}
.leftgap{
    padding-left: 34px;
}
// .ratingStar{
//     font-size: 11px;
//     height: 14px;
//     padding: 1px 0px;
//     width: 27px;
//     color: white;
//     text-align: center;
//     border-radius: 6px;
//     margin-right: 5px;
// }
.borderbottom{
    border-bottom: 1px solid $secondary-color1;
    margin-bottom: 3px;
    padding-bottom: 3px;
    margin-left: 25px;
    margin-right: 25px;
}
.speacialInside{
    font-size: 12px;
    border-bottom: 1px solid #e5e8eb;
    padding-bottom: 8px;
}
.capsule{
    background: $secondary-color1;
    padding: 5px 15px;
    border-radius: 18px;
    margin: 2px 4px;
    display: inline-block;
    font-size: 12px;
}
// .shareIconDiv{
//     width: 10%;
// }
// .heartIconDiv{
//     width: 20%;
//     input{
//         visibility: hidden;
//     }
//     .favdiv{
//         background: url('~/src/assets/favorites/nofavheart.svg');    
//         height: 30px;
//         width: 75%;
//         background-repeat: no-repeat !important;
//         float: right;
//         background-size: 8vw;
//     }
//     .kitchenfav{
//         background: url('~/src/assets/favorites/favheart.svg');
//         background-size: 8vw;
//     }
// }

.selectedOrder{
    background : #F85266;
    color: white !important;
    border: 1px solid #F85266 !important;
}
.orderCapsule{
    display: inline-block;
    border-radius: 17px;
    color: #808080;
    margin: 0px 6px 5px 0px;
    text-align: center;
    border: 1px solid #808080;
    font-size: 12px;
    padding: 8px 12px;
}
// .threeCapsule{
//     width: 28%;
//     font-size: 3vw; 
// }
// .twoCapsule{
//     width: 43%;
//     font-size: 3vw; 
// }
.lineStyle{
    // background: linear-gradient(45deg, $primary-color1, transparent);
    width: 56%;
    height: 5px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 10px;
}
.paddingBottom{
    padding-bottom: 80px !important;
}
// .ratingPosition{
//     position: relative;
//     top: -1px;
//     display: inline-block;
//     right: -1px;
// }
.offer{ 
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    margin-top: 5px;
    div{
        font-size: 12px;
        color: white;
        border: 1px solid white;
        padding: 1px 8px;
        width: fit-content;
        border-radius: 6px;
    }
}
.subscriptionOffer{
    display: flex;
    // justify-content: flex-end;
    margin: 5px 10px;
    flex-direction: row;
    .offerSub{
        font-size: 12px;
        color: white;
        border: 1px solid white;
        padding: 1px 8px;
        border-radius: 6px;
        margin: 0px 2px;
        width: 33%;
    }
}
// .positionBottom{
//     position: absolute;
//     bottom: 0;
//     width: 100%;
// }
// .filterDiv{
//     margin-top: -12px;
//     display: flex;
//     flex-flow: row;
//     .filterFirstDiv{
//         width: 64%;
//         margin-right: 10px;
//         .fitlerInput{
//             border: 2px solid #fe8e9c;
//             border-radius: 5px;
//             --padding-start: 12px;
//             --padding-top: 5px;
//             --padding-bottom: 4px;
//             --placeholder-color: #fe8e9c;
//             font-size: 13px;
//         }
//         .searchIcon{
//             --padding-start: 36px !important;  
//             background-image: url('~/src/assets/search/magnifyglass-red.svg');
//             background-repeat: no-repeat;
//             background-size: 20px 20px;
//             background-position: 5px;
//         }       
//     }    
//     .filterSecondDiv{
//         width: 33%;
//         .filterStyle{
//             padding: 8px 10px 8px 8px;
//             font-size: 10px;
//             border-radius: 5px;
//             background: url('~/src/assets/icon/filterIcon.svg');  
//             background-size: 20px !important;
//             background-repeat: no-repeat !important;
//             background-position: 8px 4px;
//             text-align: right;
//             width: 110px;
//         }
//         .selected{
//             background-color: $primary-color3 !important;
//             color: white;
//         }
//     }
// }
.mainSpeciality{
    border: 1px solid white;
    padding-right: 2px;
    border-radius: 7px;
}

.subCapsule{
    color: #15a292;
    padding: 5px 0px;
    border-radius: 18px;
    display: inline-block;
    font-size: 2.5vw;
    border: 2px solid #15a292;
    font-weight: bold;
    width: 100%;
    margin: 0px 3px;
    text-align: center;
}
.mealCapsule{
    color: #15a292;
    padding: 5px 0px;
    border-radius: 18px;
    display: inline-block;
    font-size: 2.5vw;
    border: 2px solid #15a292;
    font-weight: bold;
    width: 100%;
    margin: 0px 6px 5px 0px;
    text-align: center;
}
.daySelected{
    background: #15a292;
    color: white !important;
}
.sublebal{
    padding: 5px 3px 6px 14px;
}

.sharekitchen{
    font-size: 7vw;
    color: white;
}
.noKitchen{
    padding: 50px;
    text-align: center;
    font-size: 20px;
    color: grey;
}
.noresult{
    background: url('~/src/assets/search/noResults.svg');
    background-size: 300px 300px !important;
    background-repeat: no-repeat !important;
    height: 363px;
    background-position: bottom;      
}

/******new changes ******/

.backAndSearch{
    padding: 45px 0px 0px 0px;
    position: sticky;
    top: 0;
    width: 100%;
    background: white;
    z-index: 3;
}
.backDiv{
    padding-left: 20px;
    .backIconarrow{
        padding-top: 10px;
    }
}
.filterDiv{
    .filterFirstDiv{
        margin-right: 10px;
        .fitlerInput{
            border: 2px solid rgba(0, 0, 0, 0.05);
            border-radius: 100px;
            --padding-top: 5px;
            --padding-bottom: 4px;
            --placeholder-color: #9A9A9A;
            font-size: 12px;
            height: 32px;
            box-shadow: 0px 0px 2px rgb(16 24 40 / 5%);
            background: #FFFFFF;
        }
        .searchIcon{
            --padding-start: 6px !important;  
            background-image: url('~/src/assets/search/magnifyglass-red.svg');
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 96% 3px;
        }       
    }    
    .filterSecondDiv{
        width: 33%;
        .filterStyle{
            padding: 8px 10px 8px 8px;
            font-size: 10px;
            border-radius: 5px;
            background: url('~/src/assets/icon/filterIcon.svg');  
            background-size: 20px !important;
            background-repeat: no-repeat !important;
            background-position: 8px 4px;
            text-align: right;
            width: 110px;
        }
        .selected{
            background-color: $primary-color3 !important;
            color: white;
        }
    }
}

.kitchenDetails{
    background: #EEF2F6;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin: 10px 4% 1% 4%;
    padding: 20px 2%;    
}
.kitchenName{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 6px;
}
.speciality{
    padding: 2px 0px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.06px;
}
.heartIconDiv{
    width: 34px;
    height: 34px;
    background: white;
    border-radius: 50%;
    display: inline-block;
    input{
        visibility: hidden;
    }
    &.favdiv{
        background-image: url('~/src/assets/favorites/nofavheart.svg'); 
        background-repeat: no-repeat !important;
        background-size: 20px;
        background-position: center;
    }
    &.kitchenfav{
        background-image: url('~/src/assets/favorites/favheart.svg');
        background-repeat: no-repeat !important;
        background-size: 20px;
        background-position: center;
    }
}

.shareIconDiv{
    width: 34px;    
    height: 34px;
    background: $secondary-color3;
    border-radius: 50%;
    background-image: url('~/src/assets/moreimages/shareIcon.png');
    background-repeat: no-repeat !important;
    background-size: 16px;
    background-position: center;
    float: right;
}

.ratingStar{
    font-size: 11px;
    height: 24px;
    color: white;
    text-align: center;
    border-radius: 6px;
    background: #15a292;
    padding-top: 5px;
    margin-top: 10px;
}
.ratingPosition{
    position: relative;
    top: -1px;
    display: inline-block;
    right: -1px;
    padding: 0px 4px;
    font-size: 12px;
}
.deliveryTime{
    background: url('~/src/assets/icon/distanceIcon.png'); 
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 0px 3px;
    padding-right: 5px;
    font-size: 11px;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 3px;
}
.orderbetween{
    background: url('~/src/assets/moreimages/timelapse.png'); 
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 0px 4px;
    padding-right: 5px;
    font-size: 11px;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 3px;
}
.distancediv{
    width: 40%;
}

.timingdiv{
    width: 60%;
}

.filterpopupdiv{
    background: url('~/src/assets/icon/filterIcon.png'); 
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    height: 29px;
    width: 30px;
}

.ratingshare{
    display: flex;
    flex-direction: row;
    .half{
        width: 50%;
    }
}

.mealrow{
    border-top: 1px solid #eef2f6;
    margin-top: 4px;
    padding-top: 12px;
    padding-bottom: 6px;
}
.meallebal{
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.0006em;
    color: #505050;
}

.mealselect{
    height: 29px;
    background: #FFFFFF;
    border: 1px solid #808080;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
    border-radius: 10px;
    font-size: 12px;
    --padding-start: 10px;
    color: #808080;
    margin-top: 4px;
}

.floatingMenu{
    text-align: center;
    position: sticky;
    bottom: 60px;
    left: 47%;
    width: 70px;
    button{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: black;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: 1px 1px 10px 2px #4a4545c2;
    }
    // position: fixed;
    // z-index: 11;
    // top: 80%;
    // right: 40%;
    // width: 70px;
    // height: 70px;
    // border-radius: 50%;
    // background: black;
    // color: white;
    // text-align: center;   
    // padding-top: 8px;
    .menuIcon{
        font-size: 32px;
    }
    .menuText{
        color: white;
        font-size: 12px;
    }
}

.accordionGrp{
    background: #f4f5f8;
    border-radius: 20px;
}
.accordiondiv{
    padding-bottom: 10px;   
}
.accodianHeader{
    --background: none;
    background: none;
    --padding-start: 11px;
    font-size: 14px;
}
.togglediv{
    font-size: 12px;
    padding: 10px 1%;
    .itemFilterdiv{
        display: inline-block;
        border: 1px solid grey;
        padding: 2px 7px;
        margin-right: 8px;
        border-radius: 10px;
        color: grey;
        .filterIcon{
            display: inline-block;
            position: relative;
            top: 1px;
            margin-right: 7px;
            height: 11px;
            width: 11px;
            background-position: center !important;
            background-size: 5px !important;
            background-repeat: no-repeat !important;
        }
        &.selected{
            background: #ff000033;
            border: 1px solid #ff000033;
            color: black;
        }
        .crossIcon{
            display: none;
            &.selectedIcon{
                display: inline-block;
                padding-left: 8px;
            }
        }
    }
}

.custaccordionGrp{
    background: #f4f5f8;
    border-radius: 20px;
}
.custaccodianHeader{
    padding: 11px;
    font-size: 14px;
    height: 40px;
}



