// @import "~/src/styles.scss";

div[scrollx=true] {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .itemStyle {
    // flex: 0 0 auto;
    // height: 160px;
    margin: 0 4% 0 0;
  }
}

.scrollBtns {
  button {
    width: 7%;
    border: none;
    border-radius: 15px;
  }

  i {
    font-size: 15px;
  }
}

.itemImageStyle {
  width: 140px;
  height: 140px;
}

.itemName {
  font-size: 13px;
  line-height: 12px;
  color: #364152;
}

.imageRegionalStyle {
  width: 140px;
  height: 140px;
}

.container {
  padding: 0;
}

.regional-container{
  padding:0 3% 0 3%;
}

@media only screen and (max-width:600px){
  .itemStyle {
    margin:0 !important;
  }
  .regional-container{
    padding:0;
  }
  .sectionHeader{
    margin-bottom:2%;
    padding-left:3%;
  }
}

@media only screen and (max-width: 820px) {
  .scrollBtns {
    display: none;
  }
}