.card {
    border: none;

    .card-body {
        padding: 5px;
    }

    .card-title {
        margin: 0;
    }
}

.card img {
    height: 155px;
    max-width: 232px;
    border-radius: 5%;
}

p {
    text-align: left;
    margin: 0;
}

h6 {
    text-align: left;
}

.speacial {
    font-size: 13px;
}

.ratingStar {
    background: url('~/src/assets/icon/starIcon.png');
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
    padding-left: 12px;
    padding-right: 5px;
    font-size: 12px;
}

.deliveryTime {
    background: url('~/src/assets/icon/distanceIcon.png');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 1px 4px;
    padding-left: 12px;
    padding-right: 5px;
    font-size: 12px;
}

.card-container {
    padding: 10px;
}

.favdivCard {
    background: url('~/src/assets/favorites/nofavheart.svg');
    height: 30px;
    width: 30px;
    background-repeat: no-repeat !important;
    background-size: 25px !important;
    position: relative;
    float: right;
}

.kitchenfav {
    background: url('~/src/assets/favorites/favheart.svg');
}

.closed {
    width: 82px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 86px;
    border-radius: 12px;

    div {
        background: white;
        border-radius: 4px;
        height: 24px;
        text-align: center;
        padding: 6px 0px;
        color: #e62841;
        font-size: 11px;
        letter-spacing: 0px;
        word-spacing: 2px;
        position: absolute;
        bottom: -9px;
        width: 83%;
        left: 6px;
        font-weight: bold;
        box-shadow: 1px 1px 10px 5px #837e7e2e;
    }
}

.kithenDetails {
    padding-left: 12px !important;
}

.ratingPosition {
    position: relative;
    top: -1px;
    display: inline-block;
    right: -1px;
}

.offer {
    background: url('~/src/assets/moreimages/offerBigIcon.png');
    padding-right: 5px;
    width: 100px;
    height: 26px;
    position: relative;
    top: -86px;
    left: -4px;
    background-size: 90px 40px;
    background-position: 1px -14px;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-bottom: -29px;

    div {
        font-size: 11px;
        color: white;
        padding: 1px 8px;
        position: relative;
        top: 5px;
    }
}

.greyScale {
    filter: grayscale(1);
    -webkit-filter: grayscale(100%);
}

.mainSpeciality {
    border: 1px solid #a4a4a4;
    padding-right: 2px;
    border-radius: 7px;
}

.subOfferText {
    display: flex;
    justify-content: right;
    padding-right: 5px;
    width: 100%;

    div {
        font-size: 10px;
        color: #ffb300;
        border: 1px solid #ffb300;
        padding: 1px 8px;
        width: fit-content;
        border-radius: 6px;
    }
}

.subscriptionOffer {
    display: flex;
    // justify-content: flex-end;
    flex-direction: row;

    .offerSub {
        background: white;
        font-size: 10px;
        color: #ffb300;
        border: 1px solid #ffb300;
        padding: 1px 8px;
        border-radius: 6px;
        margin: 0px 2px;
        width: 33%;
    }
}

.speciality {
    padding: 2px 6px;
    background: #e9e9e9;
    border-radius: 7px;
}

.kitchenName {
    font-size: 17px;
    padding: 4px 0px;
}

.special-div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
    .card{
        // padding-right:2%;
        .card-body{
            border-radius: 0px 0px 10px 10px;
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
        }
        width:140px;
        img{
            height:140px;
            width:140px;
        }
    }
    .kitchenName{
        font-size:14px;
    }
    // .card{
    //     display:flex;
    //     flex-direction:row;
    //     img{
    //         height:110px !important;
    //         width:125px !important;
    //     }
    // }
    // .card-img-top{
    //     width:50%;
    // }
    // .card-body{
    //     width:50%
    // }
  }