<div class="card mb-2 bg-white rounded pointer" (click)="goInsideKitchen()">
    <img class="card-img-top img-fluid" [src]="imageUrl + kitchen.imageUrl"
        alt="Card image cap">
    <div class="card-body">
      <div class="kitchenName bold">{{kitchen.kitchenName}}</div> 
      <div class="special-div">
        <span *ngFor="let speciality of specialityList" class="speacial">
            <span [ngClass]="{speciality: speciality === kitchen.mainSpeciality}"> {{speciality}}</span>
        </span>
      </div>       
      <div>
        <span *ngFor="let type of kitchen.mealType">
            <div *ngIf="type==='Veg'" class="vegIcon typeIcon inline"></div>
            <div *ngIf="type==='NonVeg'" class="nonvegIcon typeIcon inline"></div>
            <div *ngIf="type==='Jain'" class="jainIcon inline"></div>
        </span>           
        <div class="deliveryTime inline">
            <!-- <span>{{kitchen.deliveryTime}} mins</span>  -->
            <span>{{kitchen.distance}} {{kitchen.distance > 1 ? 'Kms' :'Km'}}</span> 
        </div>
        <div class="ratingStar inline">
            <span>{{kitchen.rating}}</span>
        </div>
      </div> 
    </div>
</div>
