@import "/src/styles.scss";
.activeTab{
    background-color:$primary-color1 !important;
    color:white !important;
}
.outlet-div{
    padding:0 0 0 2%;
}

.headerBG{
    color:red;
    background-color:white;
    border:1px solid red;
}

.backIcon{
    font-size:20px;
}

.headerBG2{
    background: #e62841;
    height: 85px;
    box-shadow: 0px 3px 9px 0px #9e6c73;
    margin-bottom: 7%;
    color: white;
    font-size: 17px;
    padding-top: 45px;
    position: fixed;
    width: 96.5%;
    z-index: 1;
}

.mobileView{
    display:none;
}

.myOrderslistStyle{
    padding: 5%;
    border-color: #d6d1d14f;
    margin-bottom: 19px;
    box-shadow: -2px 4px 7px -4px #6f61614d;
}

.myOrderslistIconBG{
    background-repeat: no-repeat !important;
    padding: 4px 0px 4px 34px;   
}
.myOrdersLookup{
    margin-top:30%;
    width: 100%;
}

.mobile-outlet{
    margin-top:30%; 
}

@media only screen and (max-width: 600px) {
    .mobileView{
        display:block;
    }
    .desktopView{
        display:none;
    }
    .orders-div{
        padding: 0 4%;
    }
    .outlet-div{
        padding:1% 0;
    }
}