<div class="orders-wrapper">
    <div class="mt-2 center">
        <span (click)="goback()">
            <!-- <div class="inline-table">
                <i class="bi bi-arrow-return-left"></i>
            </div> -->
            <!-- <div class="inline-table headerText">My Orders</div> -->
        </span>
    </div>
    <div class="pageContent" data-bs-toggle="offcanvas" data-bs-target="#orders">
        <div button class="listOrderStyle" *ngFor="let order of pastOrderList" (click)="goToOrderPage(order)">
            <div class="row">
                <div class="col-12">
                    <div class="header5 grey right bgsidepadding2">{{order.orderDate | date: 'mediumDate'}}
                    </div>
                    <div class="header5 grey">Order No: {{order.orderNo}}</div>
                    <div class="header5 grey">Order Status: {{orderStatusMapper[order.orderstatus]}}</div>
                    <div class="header5 grey capitalize">Order Type:
                        <span>{{orderStatusMapper[order.orderType]}}</span>
                    </div>
                </div>
            </div>
            <div class="row flex-row greyBorderBottom" *ngIf="order.orderType !== 'subscription'">
                <div class="col-6">
                    <div class="header4 bold">{{order.firstKitchenName ? order.firstKitchenName :
                        order.kitchenName}}</div>
                </div>
                <div class="col-6 alignRight">
                    <div class="grey header4 bgsidepadding2">&#8377;{{order.amount}}</div>
                </div>
            </div>
            <div class="row" class="header5 grey">
                <div class="col-12">
                    <span *ngFor="let item of order.itemList; index as i">
                        {{item.itemName}} x {{item.count}}{{order.itemList.length > i+1 ? ',&nbsp;':''}}
                    </span>
                    <span *ngFor="let addon of order.addOns">, {{addon.addOnName}} x {{addon.count}}</span>
                </div>
                <div class="col-12 header4 pointer primary1 center">
                    View Details
                </div>
            </div>
        </div>
        <div *ngIf="pastOrderList.length === 0" class="header3 bold grey center bgpadding">
            No Order Found
        </div>
        <div #pastOrdersListEndDiv>
            <img *ngIf="showloader" class="listloader" src="assets/gif/loader.gif">
        </div>
        <div>
            Load More
        </div>
    </div>
</div>
<div class="show-orders">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="orders" aria-labelledby="offcanvasExampleLabel">
        <button type="button" style="display:none;" #canvasAddress class="btn-close text-reset mt-3"
            data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <div class="offcanvas-div">
            <div class="offcanvas-body">
                <!-- <div class="container" *ngIf="!showMap"> -->
                <!-- <div class="select-address" *ngIf="showMap"> -->
                <div class="select-address">
                    <button type="button" style="display:none;" class="btn-close text-reset" #mapCanvas
                        data-bs-dismiss="offcanvas"></button>
                    <app-order-details [order]="order"></app-order-details>
                    <!-- <app-set-delivery-location *ngIf="showMap"
              [showSkipButton]="showSkipButton"></app-set-delivery-location> -->
                </div>
            </div>
        </div>
    </div>
</div>