<div class="container">
    <div class="row m-auto">
        <div class="col-lg-8 col-sm-12 offset-lg-2">
            <div *ngIf="showForm">
                <div class="mainDiv">
                    <div class="secondDiv">
                        <img class="sideBG1" src="assets/bulkOrder/BO_side_bg1.png">
                        <img class="sideBG2" src="assets/bulkOrder/BO_side_bg2.png">
                        <!-- <img class="sideBG3" src="assets/bulkOrder/BO_side_bg3.png"> -->
                        <div>
                            <div class="row">
                                <div class="col-12">
                                    <img class="backarrow pointer" src="assets/regional/arrow-redpink.svg" (click)="goBack()">
                                    <img class="headerImg" src="assets/bulkOrder/BO-Header.png">
                                </div>
                            </div>
                        </div>
                        <div>
                            <i class="text1">order customised menus for various occasions, such as:</i>
                        </div>
                        <div class="row firstRow">
                            <div class="col-lg-6 col-sm-12">
                                <div>
                                    <img class="roundImg" src="assets/bulkOrder/BO_img4.png">
                                    <span class="eventHeader">corporate events</span>
                                    <span class="eventDescription">Snacks & lunch boxes to end office party on a
                                        delicious
                                        note.</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div>
                                    <img class="roundImg" src="assets/bulkOrder/BO_img3.png">
                                    <span class="eventHeader">kitty parties</span>
                                    <span class="eventDescription">Add a perfect combo with Mealawe to make your party
                                        unforgettable.</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div>
                                    <img class="roundImg" src="assets/bulkOrder/BO_img2.png">
                                    <span class="eventHeader">traditional events</span>
                                    <span class="eventDescription">customized meals that suit the divinity of the
                                        occasion.</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div>
                                    <img class="roundImg" src="assets/bulkOrder/BO_img1.png">
                                    <span class="eventHeader">college events</span>
                                    <span class="eventDescription">Find the most economical and tastiest Meal
                                        options.</span>
                                </div>
                            </div>
                        </div>

                        <div class="row secondRow">
                            <div class="col-lg-12">
                                <div>
                                    <img class="roundImg" src="assets/bulkOrder/BO_img5.png">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div>
                                    <span class="eventHeader">monthly subscription</span>
                                    <span class="eventDescription">This type is highly considerable for office
                                        workaholics and
                                        hostilities. Customize your group Meals with various delicacies and schedule
                                        them as you
                                        wish.</span>
                                </div>
                            </div>
                        </div>

                        <div class="offerDiv">
                            <div class="offer1">AVAIL EXCITING DISCOUNTS AND OFFERS.</div>
                            <div class="offer2">LIKE FREE DELIVERY ON BULK ORDERING.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3" *ngIf="showForm">
                <form [formGroup]="registerForm">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group mt-1">
                                <label for="customerName" class="form-label">Full Name</label>
                                <input formControlName="customerName" id="customerName" type="text" class="form-control"
                                    placeholder="Full Name">
                            </div>
                            <div class="errorMsg"
                                *ngIf="!registerForm.controls.customerName.valid && registerForm.controls.customerName.dirty">
                                Please enter a valid name.
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group mt-1">
                                <label for="customerEmail" class="form-label">Email address</label>
                                <input formControlName="customerEmail" id="customerEmail" type="email"
                                    class="form-control" placeholder="Email">
                            </div>
                            <div class="errorMsg"
                                *ngIf="!registerForm.controls.customerEmail.valid && registerForm.controls.customerEmail.dirty">
                                Please enter your valid email.
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group mt-1">
                                <label for="phoneNumber" class="form-label">Phone Number</label>
                                <input formControlName="customerPhoneNo" id="phoneNumber" type="text"
                                    class="form-control" placeholder="Email">
                            </div>
                            <div class="errorMsg"
                                *ngIf="!registerForm.controls.customerPhoneNo.valid && registerForm.controls.customerPhoneNo.dirty">
                                Enter valid mobile number.
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <label for="groupType" class="mt-1 form-label">Group Type</label>
                            <select name="groupType" class="dropdown-style" formControlName="groupType">
                                <option>Individual</option>
                                <option>Company</option>
                            </select>
                            <div class="errorMsg"
                                *ngIf="!registerForm.controls.groupType.valid && registerForm.controls.groupType.dirty">
                                Please select any Group type.
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12" *ngIf="registerForm.controls.groupType.value === 'Company'">
                            <div class="form-group mt-1">
                                <label for="companyName" class="form-label">Email address</label>
                                <input formControlName="companyName" id="companyName" type="text" class="form-control"
                                    placeholder="Company Name">
                            </div>
                            <div class="errorMsg"
                                *ngIf="!registerForm.controls.companyName.valid && registerForm.controls.companyName.dirty">
                                Company name is required
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <label for="numberOfPeople" class="mt-1 form-label">Number Of People</label>
                            <input formControlName="numberOfPeople" id="numberOfPeople" type="text" class="form-control"
                                placeholder="Number Of People">
                            <div class="errorMsg"
                                *ngIf="!registerForm.controls.numberOfPeople.valid && registerForm.controls.numberOfPeople.dirty">
                                Count of people is required.
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <label class="mt-1 form-label" for="ocassion">Ocassion</label>
                            <select name="ocassion" class="dropdown-style" formControlName="occassion">
                                <option value="Party">Party</option>
                                <option value="Corporate Gathering">Corporate Gathering</option>
                                <option value="Birthday">Birthday</option>
                                <option value="Meeting">Meeting</option>
                                <option value="Pooja">Pooja</option>
                                <option value="Other">Other</option>
                            </select>
                            <div class="errorMsg"
                                *ngIf="!registerForm.controls.occassion.valid && registerForm.controls.occassion.dirty">
                                Please select any Occassion.
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <label for="address" class="mt-1 form-label">Address</label>
                            <input formControlName="address" id="address" type="text" class="form-control"
                                placeholder="Address">
                            <div class="errorMsg"
                                *ngIf="!registerForm.controls.address.valid && registerForm.controls.address.dirty">
                                Address is required.
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <!-- <label for="mealType">Meal Type</label> -->
                            <label for="mealType" class="mt-1 form-label">Meal Type</label>
                            <select name="mealType" class="dropdown-style" formControlName="mealType"
                                placeholder="Meal Type">
                                <option value="Veg">Veg</option>
                                <option value="Non-Veg">Non-Veg</option>
                                <option value="Jain">Jain</option>
                            </select>
                            <div class="errorMsg"
                                *ngIf="!registerForm.controls.mealType.valid && registerForm.controls.mealType.dirty">
                                Please select any Meal type.
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <label for="startDate" class="mt-1 form-label">Select Date</label>
                            <input id="startDate" (change)="bulkOrderDateChanged($event.target)" class="form-control"
                                [min]="allowedMinDate" type="date" />
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <label for="time" class="mt-1 form-label">Select a time:</label>
                            <input type="time" class="dropdown-style time" id="time"
                                (change)="bulkOrderTimeChanged($event.target)">
                        </div>
                        <div class="row buttonRow">
                            <div class="col-12 mt-3 center">
                                <button class="submit pointer" type="submit" [disabled]="registerForm.invalid"
                                    (click)="onSubmit()">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="!showForm" class="setToCenter">
                <div class="nofav"></div>
                <div class="successText1">You have</div>
                <div class="successText2">Successfully submitted the form</div>
                <div class="successText3">Our representative will get back</div>
                <div class="successText3">soon to you for your order!</div>

                <button type="button" class="buttonOrder" (click)="goBulkOrders()">Go To Orders</button>
            </div>
        </div>
    </div>
</div>