<div>
    <div class="headerBG">
        <div class="inline-table headerText"><i class="bi bi-arrow-left backIcon" (click)="goBack()"></i>My Profile</div>
    </div>
    <div class="pageContent">
        <div class="center" *ngIf="userProfile">
            <div class="edit" (click)="editProfile()" *ngIf="!editModeOn">EDIT</div>
        </div>
        <div *ngIf="userProfile">
            <form [formGroup]="userProfileForm">
                <div class="rowStyle">
                    <div class="header4">Name <span
                            *ngIf="!userProfileForm.controls['username']?.valid && userProfileForm.controls['username']?.dirty"
                            class="validator-error">Please enter your valid name.</span></div>
                    <div class="header5 grey valueStyle" *ngIf="!editModeOn">{{userProfile.userName || 'Please provide
                        your name'}}</div>
                    <div class="mb-3" *ngIf="editModeOn">
                        <!-- <label for="userName" class="form-label">Email address</label> -->
                        <input type="text" formControlName="userName" class="form-control" id="userName"
                            placeholder="Enter your name">
                    </div>
                    <!-- <div class="header5 grey valueStyle" *ngIf="editModeOn">
                        <ion-input formControlName="userName" placeholder="Enter your name"></ion-input>                        
                    </div> -->
                </div>
                <div class="rowStyle" *ngIf="!editModeOn">
                    <div class="header4">Phone No.</div>
                    <div class="header5 grey valueStyle">+91-{{userProfile.phoneNo}}</div>
                </div>
                <div class="rowStyle">
                    <div class="header4">Email <span
                            *ngIf="!userProfileForm.controls['email']?.valid && userProfileForm.controls['email']?.dirty"
                            class="validator-error">Please enter your valid email.</span></div>
                    <div class="header5 grey valueStyle" *ngIf="!editModeOn">{{userProfile.email || 'Please provide your
                        email'}}</div>
                    <div class="mb-3" *ngIf="editModeOn">
                        <!-- <label for="email" class="form-label">Email address</label> -->
                        <input type="email" formControlName="email" class="form-control" id="email"
                            placeholder="Enter your email">
                    </div>
                    <!-- <div class="header5 grey valueStyle" *ngIf="editModeOn">
                        <ion-input formControlName="email" placeholder="Enter your email"></ion-input>
                    </div> -->
                </div>
            </form>
            <div class="rowStyle preferenceRowStyle">
                <div class="header4">Preferences</div>
                <div class="header5 grey valueStyle" *ngIf="!editModeOn">
                    <div>
                        <div class="row">
                            <div class="col-3 cuisine-wrapper" *ngFor="let cuisine of slectedCuisineList">
                                <img class="cuisineImg" [src]="cuisine.url">
                                <div class="header5">{{cuisine.name}}</div>
                                <div *ngIf="cuisine.checked" class="cuisinetickposition"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header5 grey valueStyle" *ngIf="editModeOn">
                    <div>
                        <div class="row">
                            <div class="col-3 cuisine-wrapper" *ngFor="let cuisine of slectedCuisineListEdit"
                                (click)="cuisine.checked = !cuisine.checked">
                                <img class="cuisineImg" [src]="cuisine.url">
                                <div class="header5">{{cuisine.name}}</div>
                                <div *ngIf="cuisine.checked" class="cuisinetickposition"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bgpadding2" *ngIf="editModeOn">
                <div class="formBtnSection inline">
                    <button (click)="cancelEdit()" class="btnDesgin cancel">Cancel</button>
                </div>
                <div class="formBtnSection inline">
                    <button type="button" [disabled]="userProfileForm.status === 'INVALID'"
                        [ngClass]="{disablebtn: userProfileForm.status === 'INVALID'}" (click)="saveProfile()"
                        class="btnDesgin save">Save</button>
                </div>
            </div>
        </div>
        <div *ngIf="!userProfile" class="header3 bold center bgpadding">
            Login to View Profile
        </div>
    </div>
</div>