div[scrollx=true] {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .itemStyle {
    flex: 0 0 auto;
    margin: 0 5% 0 0;
  }
}

.imageRegionalStyle {
  width: 140px;
  height: 140px;
}

.scrollBtns {
  button {
    width: 7%;
    border: none;
    border-radius: 15px;
  }

  i {
    font-size: 15px;
  }
}

.itemName {
  font-size: 13px;
  color: #364152;
  text-align: center;
}

.container {
  padding: 0;
}

@media only screen and (max-width: 820px) {
  .scrollBtns {
    display: none;
  }
}