.savedAddresses {
    height: 80%;
    border: 1px solid #adadad;
    margin-top: 15px;
    padding: 4%;
    cursor: pointer;
}

.address-padding{
    padding:2%;
}

.address-div{
    font-size:13px;
    padding-left:3%;
}