@import "/src/styles.scss";

.savedAddresses {
    height: 80%;
    border: 1px solid #adadad;
    margin-top: 15px;
    padding: 4%;
    cursor: pointer;
}

.address-padding{
    padding:2%;
}

.address-div{
    font-size:13px;
    padding-left:3%;
    .editSpan,.deleteSpan{
        color: $primary-color1;
        font-weight:500;
    }
    .deleteSpan{
        margin-left:2%;
    }
}

.offcanvas{
    width:40%;
}

.backIcon{
    display:none;
}

@media only screen and (max-width:600px){
    .offcanvas{
        width:100%
    }
    .backIcon{
        font-size:20px;
        display:inline-block;
    }
}

@media only screen and (min-width:600px) and (max-width:820px){
    .backIcon{
        display:inline-block;
        font-size:20px;
    }
}
