.loader-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: #fffbfbad;
    z-index: 30002;
}
.loader-spinner{
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    padding: 25% 20%;
    display: inline-flex;
    justify-content: center;
}
.loaderImage{
    width: 100%;
    height: 100%;
}

.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #e62841;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }