<div>
    <div class="headerBG">
        <span (click)="goback()">
            <div class="inline-table">
                <!-- <ion-icon class="backIcon" name="arrow-back-outline"></ion-icon> -->
            </div>
            <div class="inline-table headerText">Cashback & FAQs</div>
        </span>
        <div class="tabButton">
            <button class="unSelectedButton" [ngClass]="{selectedButton: selectedTab === 'cashback'}" type="button"
                (click)="tabChange('cashback')">Cashback</button>
            <button class="unSelectedButton" [ngClass]="{selectedButton: selectedTab === 'faq'}" type="button"
                (click)="tabChange('faq')">FAQs</button>
        </div>
    </div>

    <!-- Cashback Tab  -->
    <div *ngIf="selectedTab === 'cashback'">
        <div class="page">
            <div class="center bgpadding4">
                <img src="assets/images/Mealawe-cashback.svg">
                <div>
                    <h3 class="text1">You have</h3>
                    <h3 class="text2">
                        <b>{{wallet_balance}}</b> Active Mealawe Points
                    </h3>
                </div>
            </div>
            <div class="header3 bold withdrawalHistroy" *ngIf="transactionHistoryList.length > 0">CashBack History</div>
            <div *ngFor="let history of transactionHistoryList" class="gridPadding">
                <div class="row historyDate">
                    <div class="col-2" size="2">
                        <div class="bold"> {{history.expiryOn | date:'LLL'}} </div>
                        <div class="boldDate"> {{history.expiryOn | date:'dd'}}</div>
                        <div class="bold"> {{history.expiryOn | date:'yyyy'}}</div>
                    </div>
                    <div class="col-7" size="7">
                        <div class="historyTitle" [ngClass]="{cashbackexpired: history.status === 'Expired'}">
                            {{history.title}}</div>
                        <div class="historyRemark" *ngIf="history.status !== 'Expired'">{{history.remark}}</div>
                        <div class="historyRemark" *ngIf="history.status === 'Expired'">Expired on {{history.expiryOn |
                            date:'dd'}} {{history.expiryOn | date:'LLL'}}</div>
                    </div>
                    <div class="col-3" size="3">
                        <div class="cashbackPoints" [ngClass]="{cashbackexpired: history.status === 'Expired'}">
                            <img *ngIf="history.status !== 'Expired'" src="assets/icon/mealaweCoin.svg">
                            <img *ngIf="history.status === 'Expired'" src="assets/icon/mealaweCoin_grey.svg">
                            {{history.cashbackPoints}}
                        </div>
                        <div class="status" [ngClass]="{expiredText: history.status === 'Expired'}">{{history.status}}
                        </div>
                    </div>
                </div>
            </div>
            <div #melaweHistoryListEndDiv>
                <img *ngIf="showloader" class="listloader" src="assets/gif/loader.gif">
            </div>
        </div>

        <!-- <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <div class="redeem" >
                        <button class="redeemButton" type="button" (click)="goRedeem()">REDEEM NOW!!!</button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid> -->
        <div class="redeem">
            <button class="redeemButton" type="button" (click)="goRedeem()">REDEEM NOW!!!</button>
        </div>
    </div>

    <!-- FAQ's Tab  -->
    <div class="mt-5" *ngIf="selectedTab === 'faq'">
        <div class="header3 bold faqlist">
            <div class="lebaltxt mb-2">Frequently asked questions</div>
            <ngb-accordion [closeOthers]="false" activeIds="acc-1">
                <ngb-panel *ngFor="let acc of faqList" id="acc-{{acc.id}}" title="{{acc.question}}">
                    <ng-template ngbPanelContent>
                        {{acc.answer}}
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>