@import "/src/styles.scss";

.filterheader{
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    background: #EEF2F6;
    height: 55px;
    // padding-top: 12px;
}
.filtercrossIcon{
    font-size: 23px;
    position: absolute;
    right: 24px;
    top: 17px;
    color: #0a0a0a;
}

.headerfilterStyle{
    padding: 20px 10px 8px 16px;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
}
.headinglebel{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-bottom:10px;
}

.filterPadding{
    padding: 0px 16px 15px 16px;
}

.filterChoicekitchen{
    border: 1px solid $primary-color3;
    color: $primary-color3;
    padding: 6px 7px;
    border-radius: 9px;  
    font-size: 14px;
    margin: 5px 5px;
}

.buttonDiv{
    display: flex;
    flex-direction: row;
    button{
        width: 50%;
    }
}
.applybutton{
    letter-spacing: 1px;
    background: #21A392;
    font-size: 14px;
    border-radius: 15px;
    margin-left: 15px;
    color: white;
    border: 1px solid #21A392;
    height: 36px;
}
.clearbutton{
    letter-spacing: 1px;
    color: #F85266;
    font-size: 14px;
    border-radius: 15px;
    margin-right: 15px;
    background: white;
    border: 1px solid #F85266;
    height: 36px;
}
.spicyLebel0{
    background: url('~/src/assets/search/chili0.svg');
    background-repeat: no-repeat !important;
    background-size: 25px !important;
    background-position: 0px 4px !important;
    width: 25px;
    height: 26px;  
    margin-right: 10px;   
    &.selected{
        background: url('~/src/assets/search/chili0_selected.svg');
    }
}
.spicyLebel1{
    background: url('~/src/assets/search/chili1.svg');
    background-repeat: no-repeat !important;
    background-size: 25px !important;
    background-position: 0px 4px !important;
    width: 25px;
    height: 26px;  
    margin-right: 10px;  
    &.selected{
        background: url('~/src/assets/search/chili1_selected.svg');
    }
}
.spicyLebel2{
    background: url('~/src/assets/search/chili2.svg');
    background-repeat: no-repeat !important;
    background-size: 48px 26px !important;
    background-position: 0px 3px !important;
    width: 48px;
    height: 27px;  
    margin-right: 10px; 
    &.selected{
        background: url('~/src/assets/search/chili2_selected.svg');
    }
}
.spicyLebel3{
    background: url('~/src/assets/search/chili3.svg');
    background-repeat: no-repeat !important;
    background-size: 64px 23px !important;
    background-position: 0px 7px !important;
    width: 64px;
    height: 30px;   
    margin-right: 10px; 
    &.selected{
        background: url('~/src/assets/search/chili3_selected.svg');
    }
}
.filterChoice{
    padding: 6px 8px;
    border-radius: 9px;
    margin: 0px 10px 0px 0px;
    border: 1px solid #fe8e9c;
    color: #fe8e9c;
    font-size: 12px;
}
.selectedfilter{
    background: $primary-color3;
    color: white;
}

.filteRadioLebel{
    padding-left: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #8E95A5;
}
.radioselected{
    color: #63a77f;
}
.radiobtn{
    --color: #8E95A5;
    --color-checked: #63a77f;
    --border-width: 3px;
    --border-style: solid;
    --border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 5px;
    position: relative;
}

ion-checkbox {
    --size: 20px;
    --background-checked: #63a77f;
    --background: #DCE0E9;
    --border-width: 5px;
    --border-color: #DCE0E9;
    --border-color-checked: #63a77f;
    position: relative;
    top: 5px;
}