.imageStyle{
    // margin-top: -61px;
    height:400px;
    width:500px;
}

.editlocation{
    padding: 14px 24px;
    background: #e62841;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 12px;
    box-shadow: 4px 4px 7px #06060696;
}