<div class="slider-container pointer">
    <!-- <div class="sectionHeader col-6 mt-4">What we offer</div> -->
    <swiper-container autoplay="true" pagination="true" speed="700" css-mode="true">
        <swiper-slide>
            <img class="card-img-top" src="assets/eatHealthy/EatHomelyPage_1.png" alt="Card image cap">
        </swiper-slide>
        <swiper-slide>
            <img class="card-img-top" src="assets/eatHealthy/EatHomelyPage_2.png" alt="Card image cap">
        </swiper-slide>
        <swiper-slide>
            <img class="card-img-top" src="assets/eatHealthy/EatHomelyPage_3.png" alt="Card image cap">
        </swiper-slide>
        <swiper-slide>
            <img class="card-img-top" src="assets/eatHealthy/EatHomelyPage_4.png" alt="Card image cap">
        </swiper-slide>
    </swiper-container>
</div>
<app-mobile-tabs class="mobile-tabs mobileView"></app-mobile-tabs>

