<!-- <img class="backarrow pointer" src="assets/regional/arrow-redpink.svg" (click)="goBack()"> -->
<app-header></app-header>
<div class="setToCenter" *ngIf="paymentSucess">
  <!-- <img class="backarroworders pointer" src="assets/regional/arrow-redpink.svg" (click)="goBack()"> -->
  <div class="orderPlaced"></div>
  <div class="header2 center">Order Placed!</div>
  <div class="header5 bgpadding2 grey center">
    <button class="addressBtnStyle" (click)="GoToOrders()">Track Order</button>
  </div>
</div>
<div class="setToCenter" *ngIf="!paymentSucess">
  <!-- <img class="backarrow pointer" src="assets/regional/arrow-redpink.svg" (click)="goBack()"> -->
  <div class="orderFailed"></div>
  <div class="header2 center primary1">Order Payment Transaction Failed!</div>
  <div class="header5 bgpadding1 center grey">We are sorry for your inconvenience. If your money is deducted, you will
    get refund within 4-5 business days.</div>
  <div class="header5 bgpadding1 grey center">
    <button class="trackFailedBtnStyle" (click)="GoToOrders()">Track Failed Order</button>
  </div>
</div>