@import "/src/styles.scss";

.orderPlaced{
    background: url('~/src/assets/images/order_placed.svg');
    // background-size: cover !important;
    background-position:50%;
    background-repeat: no-repeat !important;
    height: 300px;
}

.backarroworders {
    width: 30px;
    position: relative;
    top: 20%;
    left: 30%;
}

.orderFailed{
    background: url('~/src/assets/images/cancelled_order.svg');
    // background-size: 60% !important;
    background-repeat: no-repeat !important;
    height: 300px;
    background-position: center;
}

.setToCenter{
    margin: 5% auto;  
}
.addressBtnStyle{
    background: $primary-color3;
    border-radius: 8px;
    width: 140px;
    padding: 10px 10px;
    color: white;
    letter-spacing: 1px;
    box-shadow: 3px 5px 9px 0px #716565;
}
.backarrow{
    color: $primary-color3;
    font-size: 30px;
    padding: 30px 8px 8px 8px;
    float: left;
}

.trackFailedBtnStyle{
    background: $primary-color3;
    border-radius: 8px;
    padding: 10px 10px;
    color: white;
    letter-spacing: 1px;
    box-shadow: 3px 5px 9px 0px #716565;
}

.mobileView{
    display:block
}

@media only screen and (max-width:600px){
    .mobileView{
        display:none;
    }
    .backarroworders{
        top: 10%;
        left: 3%;
    }
}