@import "/src/styles.scss";

.container-fluid {
    height: 100%;
}

.mobile-view{
    display:none;
}

.logo {
    .img-fluid {
        height: 100%;
        width: 100%;
    }
}

.right-side {
    position: relative;
}

.btn-div {
    position: relative;
}

.search-section {
    padding: 10% 0 0 8%;

    .first-line {
        color: $primary-color4;
        font-family: 'Poppins-bold';
        font-size: 25px;
    }

    .second-line {
        font-size: 20px;
        line-height: 25px; // color: grey;
    }
}

.flex-div {
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 5%;

    .form-control {
        margin-left: 15px;
        width: 70%
    }

    .div-two {
        display: flex;
        justify-content: center;
        width: 20%;
        background-image: url('~/src/assets/images/map-marker-red.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 10px;
        background-position: 0 11px;
    }

    .div-three {
        background-image: url('~/src/assets/images/icon-search.svg');
        background-repeat: no-repeat;
        background-position: 17px 8px;
        background-size: 22px;
        border-radius: 20px;
        background-color: $primary-color1;
        width: 10%;
    }

    .form-control {
        border: none;
    }
}

.termNcondition {
    font-size: 11px;
    width: 100%;
    letter-spacing: 0.1em;
    font-style: italic;

    span {
        text-decoration: underline;
        cursor: pointer;
    }
}

.second {
    padding-top: 10%;
}

.topBtns {
    position: absolute;
    top: 5%;
    left: 15%;
    font-family: 'Poppins-semiBold';

    .btn-light {
        background-color: $primary-color4;
        color: white;
        border-radius: 20px;
        width: 90px;
    }

    &.mobile {
        position: static;
        display: none;
    }
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Poppins-regular';
    opacity: 1;
    /* Firefox */
}

.operational-cities {
    margin: 8% 0 1% 0;
    font-family: 'Poppins-semiBold'
}

.city-container {
    margin: 0;

    .div-1 {
        padding-left: 9%;
        background-image: url('~/src/assets/images/pune.svg');
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .div-2 {
        padding-left: 9%;
        // margin-left: 1%;
        background-image: url('~/src/assets/images/bangalore.svg');
        background-repeat: no-repeat;
        background-size: 40px;
    }
}

// ---MID SECTION---

.mid-section {
    .header1 {
        font-family: 'Poppins-bold';
        color: $primary-color1;
    }

    .header1:after {
        content: '';
        width: 7%;
        display: block;
        margin: 1% auto 2%;
        height: 2px;
        background-color: black;
    }

    .img-text {
        font-family: 'Poppins-bold';
        color: $primary-color4;
        text-transform: uppercase;
    }

    .img-sub-text {
        margin-top: 3%;
        font-family: 'Poppins-semiBold'

    }

    .img-col {
        padding-right: 0;
    }

    .text-col {
        padding: 35px 2% 0 0;
    }
}

.mid-section:after {
    content: '';
    width: 7%;
    display: block;
    margin: 1% auto 2%;
    height: 3px;
    background: linear-gradient(90deg, $primary-color1 50%, #e0e0e0 50%)
}

// ---BOTTOM SECTION---

.bottom-section {
    .right-div-wrapper {
        text-align: right;
        margin-top: 15%
    }

    .header-text {
        font-size: 43px;
        font-family: 'Poppins-bold';
        color: $primary-color1;
    }

    .header-sub-text {
        margin-top: 5%;
        font-family: 'Poppins-semiBold';
        line-height: 23px;
    }
}

.getLocation {
    width: 100%;
    height: 80px;
    padding: 5%;
    border: 1px solid #adadad;
    cursor: pointer;
}

.search-form {

    .savedAddresses,
    .recentSearches {
        height: 80%;
        border: 1px solid #adadad;
        margin-top: 15px;
        padding: 4%;
        cursor: pointer;

        h6 {
            margin-left: 8%;
            font-size: 13px;
            color: #adadad;
            margin-bottom: 0;
            // padding-top:2%; 
        }
    }

    .flex-content {
        padding-left: 3%;
    }
}



// ---LOGIN/SIGN-UP OFFCANVAS---

.offcanvas{
    width:40% !important;
}

.login {
    // width: 40% !important;

    .form-section {
        padding-top: 50%;
    }

    .account-exists{
        color:$primary-color5;
        margin-top:5px;
    }

    .offcanvas-body {
        background-image: url('~/src/assets/images/login-drawer-image-2.svg');
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: 100% 0;
    }

    .img-fluid {
        position: absolute;
        height: 100%;
        width: 50%;
        right: 0%;
        top: 1%;
    }

    .header2 {
        font-family: 'Poppins-bold';
        color: $primary-color4
    }

    .header3,.header4,.header5{
        font-family:'Poppins-semiBold';
        color:$primary-color5
    }

    .sub-header {
        font-family: 'Poppins-semiBold';

        .create-account {
            color: $primary-color1;
        }

        :after {
            content: '';
            margin-top: 1%;
            width: 7%;
            display: block;
            // margin: 1% auto 2%;
            height: 1px;
            background-color: $primary-color1;
        }
    }

    .flex-row {
        .btn-primary {
            width: 100%
        }
    }


    .form-group {
        .form-control {
            height: 50px;
            border-radius: 25px;
            width: 50%;
            border-color: grey;
        }
    }

    .signup-form {
        .form-control {
            border-radius: 10px;
        }
    }

    .btn-primary {
        width: 25%;
        border-radius: 20px;
        font-weight: 500;
    }

    &.sign-up {
        .form-group {
            .form-control {
                height: 60px;
                border-radius: 0;
            }
        }

        .btn-primary {
            background-color: #ff8c00;
            border-color: #ff8c00;
            border-radius: 0;
            font-weight: 500;
        }
    }
}

.skip {
    color: $secondary-offset-color3;
    font-weight: bold;
    text-decoration: underline;
  }

// ---RESPONSIVE----
@media only screen and (max-width: 600px) {

    .desktop-view{
        display:none;
    }

    .mobile-view{
        display:block;
        padding:0;
    }

    .offcanvas {
        width: 100% !important;
        .btn-primary {
            width: 30%;
        }
    }

    .right-div-wrapper {
        text-align: center !important;
    }

    .text-col,
    .img-col {
        padding: 0 !important;
        text-align: center;
    }

    .mid-section {
        .header1 {
            margin-top: 2%;
        }
    }

    .footer-qr-div {
        padding-bottom: 5%;
    }

    .div-1 {
        // width: 50%;
        padding-left: 17% !important;
    }

    .div-2 {
        // width: 50%;
        padding-left: 17% !important;
        margin-left: 0;
    }

    .search-section {
        padding: 0 !important;
    }

    .form-control {
        width: 55% !important;
    }

    .div-two {
        width: 30% !important;
    }

    .div-three {
        width: 15% !important;
    }

    .first-line,
    .second-line,
    .operational-cities {
        text-align: center;
    }

    .city-container {
        justify-content: space-between;
    }

    .topBtns {
        display: none;

        &.mobile {
            display: block;
            text-align: center;
        }
    }

    .flex-div {
        width: 100% !important;
    }
}


@media only screen and (max-width: 820px) {
    .offcanvas {
        width: 100% !important;

        .btn-primary {
            width: 30%;
        }
    }

    .text-col,
    .img-col {
        padding: 0 !important;
        text-align: center;
    }

    .search-section {
        padding: 0 !important;
    }

    .topBtns {
        display: none;

        &.mobile {
            display: block;
            // text-align:center;
        }
    }

    .flex-div {
        margin-top: 3%;
        width: 80%;
    }

    .operational-cities {
        margin-top: 3%;
    }

    .form-control::placeholder {
        font-size: 15px;
    }
}