<div class="container-fluid">
  <!--- TOP SECTION --->
  <div class="row top-section">
    <div class="col-lg-5 col-sm-12 top-section">
      <div class="row">
        <div class="col-lg-6 col-sm-12 logo">
          <img class="img-fluid" src="assets/images/mealaweLogo.png">
        </div>
      </div>
      <div class="row search-section">
        <div class="col-12">
          <p class="first-line">Maa ka banaya Khana</p>
          <p class="second-line mt-1">Get the best homemade food from neighborhood homes delivered to your doorstep.</p>
          <div class="topBtns mobile">
            <button type="button" class="btn btn-light bgsidemargin2" data-bs-toggle="offcanvas" data-bs-target="#login"
              (click)="toggleForm('Login')">Login</button>
            <button type="button" class="btn btn-light ms-3" (click)="toggleForm('Sign up')" data-bs-toggle="offcanvas"
              data-bs-target="#login">Sign
              up</button>
          </div>
          <div class="flex-div">
            <input type="text" class="form-control shadow-none" [id]="mapId" placeholder="Search Your Location"
              aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="div-two pointer">
              <button type="button" class="btn btn-default btn-sm" (click)="loadSelectedLocation(null)">Locate
                Me</button>
            </div>
            <div class="div-three pointer" (click)="loadSelectedLocation(null)">
            </div>
          </div>
          <div class="operational-cities">OPERATIONAL CITIES</div>
          <div class="d-flex flex-row city-container">
            <div class="div-1 col-lg-2 col-md-2">Pune</div>
            <div class="div-2 col-lg-2 col-md-2">Bangalore</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-sm-12 right-side">
      <div class="topBtns">
        <button type="button" class="btn btn-light bgsidemargin2" data-bs-toggle="offcanvas" data-bs-target="#login"
          (click)="toggleForm('Login')">Login</button>
        <button type="button" class="btn btn-light ms-3" (click)="toggleForm('Sign up')" data-bs-toggle="offcanvas"
          data-bs-target="#login">Sign
          up</button>
      </div>
      <img class="img-fluid" src="/assets/images/welcome-section-1.png" alt="">
    </div>
  </div>
  <!-- MID SECTION -->
  <div class="mid-section">
    <div class="header1 center">WHAT WE OFFER</div>
    <div class="row">
      <div class="col-lg-2 col-sm-12 img-col">
        <img class="img-fluid" src="/assets/images/mid-1.png" alt="">
      </div>
      <div class="col-lg-2 col-sm-12 text-col">
        <div class="header2 img-text">
          maa ke haath ka khana
        </div>
        <div class="img-sub-text">
          Enjoy food full of soul health and taste made by home chefs.
        </div>
      </div>
      <div class="col-lg-2 col-sm-12 img-col">
        <img class="img-fluid" src="/assets/images/mid-2.png" alt="">
      </div>
      <div class="col-lg-2 col-sm-12 text-col">
        <div class="header2 img-text">
          flexibility to reschedule
        </div>
        <div class="img-sub-text">
          Complete flexiblity to reschedule order dates.
        </div>
      </div>
      <div class="col-lg-2 col-sm-12 img-col">
        <img class="img-fluid" src="/assets/images/mid-3.png" alt="">
      </div>
      <div class="col-lg-2 col-sm-12 text-col">
        <div class="header2 img-text">
          bulk order
        </div>
        <div class="img-sub-text">
          Enjoy food full of soul, health and taste made by home chefs.
        </div>
      </div>
    </div>
  </div>
  <!--- BOTTOM SECTION --->
  <div class="row bottom-section">
    <div class="col-lg-7 col-sm-12">
      <img class="img-fluid" src="/assets/images/bottom-1.png" alt="">
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="right-div-wrapper">
        <div class="header-text">
          KHAO GHAR KA!
        </div>
        <div class="header-sub-text header2">
          Why go for junk food when you can have homemade food delivered to your doorstep.
        </div>
        <div class="qr-img-div mt-4">
          <img class="img-fluid" src="/assets/images/qrcode.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <!--- FOOTER --->
  <app-footer></app-footer>
</div>

<div class="offcanvas offcanvas-end login" tabindex="-1" id="login" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-body">
    <button type="button" #loginCanvas class="btn-close text-reset" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
    <!-- <div class="login-image-div">
        <img class="img-fluid" src="/assets/images/login-drawer-image.svg" alt="">
      </div> -->
    <div class="row form-section">
      <div class="col-12">
        <div class="header2">{{formToShow}}</div>
        <div class="sub-header mt-2">or <span class="create-account pointer"
            (click)="toggleForm(formToShow == 'Login' ? 'Sign up' : 'Login')">{{formToShow != 'Login' ? 'Login to your
            account' : 'create an account'}}</span></div>
        <form class="mt-3" [formGroup]="LoginForm" *ngIf="!showOTPscreen && formToShow == 'Login'">
          <div class="form-group">
            <input type="text" class="form-control shadow-none" formControlName="phoneNo" id="formGroupExampleInput"
              placeholder="Your Mobile Number">
            <div *ngIf="LoginForm.controls.phoneNo.invalid && LoginForm.controls.phoneNo.dirty">
              Please enter a valid phone number
            </div>
            <button class="btn btn-primary mt-3 mb-1 py-2 yesbtn" type="button" [disabled]="LoginForm.invalid"
              (click)="registerMobileNumer()">Login</button>
            <div class="termNcondition">{{formToShow == 'Login' ? "By logging in, I accept mealawe's" : "By creating an
              account,"}} <span (click)="showTermNCondition()">terms &
                conditions</span>
            </div>
          </div>
        </form>
        <form class="signup-form" [formGroup]="LoginForm" *ngIf="!showOTPscreen && formToShow == 'Sign up'">
          <div class="form-group mt-3">
            <input type="text" class="form-control shadow-none" formControlName="phoneNo" id="login"
              placeholder="Phone Number">
          </div>
          <div class="form-group mt-2">
            <input type="text" class="form-control shadow-none" formControlName="userName" id="name" placeholder="Name">
          </div>
          <div class="form-group mt-2">
            <input type="email" class="form-control shadow-none" formControlName="email" id="email"
              aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="account-exists" *ngIf="accountExistsMsg">{{accountExistsMsg}}</div>
          <button class="btn btn-primary mt-3 mb-1 py-2 yesbtn" [disabled]="LoginForm.invalid"
            (click)="verifySignUP()">CONTINUE</button>
          <div class="termNcondition">{{formToShow == 'Login' ? "By logging in, I accept Mealawe's" : "By creating an
            account, I accept Mealawe's"}} <span (click)="showTermNCondition()">terms &
              conditions</span>
          </div>
        </form>
        <div *ngIf="showOTPscreen">
          <div class="mt-4 header3">Verify the OTP</div>
          <div class="mt-1 header4">Sent to</div>
          <p class="mt-1 header5">+91 {{phoneNo}}</p>
          <div class="mt-2">
            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6,allowNumbersOnly:true}">
            </ng-otp-input>
          </div>
          <div class="row flex-row">
            <div class="col-3">
              <button class="btn btn-primary yesbtn mt-2" (click)="verifyOTP()"
                [disabled]="!enableVerfiy">Verify</button>
            </div>
            <div class="col-3">
              <div class="second">
                <div *ngIf="showResendOTP" (click)="resendOTP()" class="resendLink">Resend OTP</div>
                <div *ngIf="!showResendOTP" class="otpTime">
                  <!-- <ion-icon name="alarm-outline"></ion-icon> -->
                  <i class="bi bi-alarm"></i>
                  00:{{second < 10 ? '0' +second : second }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="offcanvas offcanvas-end sign-up" tabindex="-1" id="sign-up" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title header1" id="offcanvasExampleLabel">Sign Up</h5>
    </div>
    <div class="bgsidepadding3">or <span style="color:#e62841;">log into your account</span></div>
    <div class="offcanvas-body">
      <div class="row">
        <div class="col-8">
          <form>
            <div class="form-group">
              <input type="text" class="form-control shadow-none" id="login" placeholder="Phone Number">
            </div>
            <div class="form-group">
              <input type="text" class="form-control shadow-none" id="name" placeholder="Phone Number">
            </div>
            <div class="form-group">
              <input type="email" class="form-control shadow-none" id="email" aria-describedby="emailHelp"
                placeholder="Email">
            </div>
            <button class="btn btn-primary fullwidth my-4 py-3 yesbtn">CONTINUE</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->