.container-fluid{
    height: 100%;
}

.top-section{
    padding: 80px 0px 0px 150px;
    .row{
        .btn-light {
            padding: 6px 22px;
            background-color: white !important;
            border: none;
            font-weight: 600;
        }
        .btn-dark {
            border-radius: 0;
            padding: 7px 20px;
            border: none;
            font-weight: 600;
        }
        .btn-light:hover{
            color:#e62841 !important;
        }
        .btn-outline-dark{
            // border-color:#e62841 !important;
            border-radius:0;
        }
        .topBtns{
            text-align:right;
            padding-right:11%;
        }
    }
}

.top-section-img{
    max-height: 80%;
    padding:0 !important;
}

.logo{
    .img-fluid{
        height:50px;
        width:50px;
    }
}

.search-section{
    margin-top:50px;
    .first-line{
        font-size: 35px;
        font-weight: 600;
        margin-bottom:0px;
    }
    .second-line{
        font-size:20px;
        color:grey;
    }
}

.search-form{
    width:91%;
    position:relative;
    .btn-primary{
        padding-top:17%;
        padding-bottom:16%;  
        border-radius:0;
        font-weight:500;
    }
    .form-control{
        height:60px;
        border-radius:0;
    }
    .btn-danger{
        position:absolute;
        padding:2% 2%;
        border:none;
        top: 9px;
        left: 60%;
        color:#000000;
        background-color:white;
        border-color:#adadad;
        border-radius:0;
        font-weight:500;
        z-index:5;
    }
    .btn-danger:hover{
        background-color: #adadad !important;
    }
}

.mid-section{
    height:200px;
    color:white;
    background-color:#111111
}


.offcanvas{
    width:40% !important;
    &.login{
        .form-group{
            .form-control{
                height:60px;
                border-radius:0;
            }
        }
        .btn-primary{
            border-radius:0;
            font-weight:500;
        }
    }
    &.sign-up{
        .form-group{
            .form-control{
                height:60px;
                border-radius:0;
            }
        }
        .btn-primary{
            background-color:#ff8c00;
            border-color:#ff8c00;
            border-radius:0;
            font-weight:500;
        }
    }
}