@import "/src/styles.scss";

.dialog-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10000;
}

.dialog-content {
    text-align: center;
    // background: white;
    width: 100%;
    height:100%;
    // margin: 10% auto;
    // border-radius: 12px;
}

.dialogHeader {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    font-weight: bold;
}

.dialogbody {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.dialogfooter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;

    .btn {
        margin: 0px 8%;
        width: 90px;
    }
}

.flashbody {
    position: absolute;
    top: 35%;
    right:29%;
    background: white;
    margin: 2% 10%;
    border-radius: 15px;
    animation-name: move;
    animation-duration: 0.5s;
    z-index: 10;
    padding: 1px 9px;

    .header {
        color: $primary-offset-color2;
        padding: 15px 10px 10px 10px;
        font-size: 13px;
    }

    .midsection {
        padding: 1px 8px;

        .label1 {
            font-size: 20px;
            font-weight: bold;
        }

        .label2 {
            font-size: 11px;
            color: $primary-offset-color2;
            padding: 8px 0px;
            font-weight: bold;
        }
    }

    .footer {
        color: $secondary-color3;
        padding: 13px 6px;
        text-align: center;
    }
}

@keyframes move {
    from {
        top: 100%;
    }

    to {
        top: 35%;
    }
}

.lottie-player{
    height:100vh;
    width:100vw;
}

@media only screen and (max-width:600px){
    .flashbody{
        right:0;
    }
}