.swiper-container {
    height: 100%;

    swiper-slide {
        height: 100%;

        .sliderstyle {
            text-align: center;

            img {
                width: 100%;
            }
        }
    }
}

.bottomsection {
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 280px;
    width: 100%;
    padding: 20px;
}

.circleStyle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(255, 150, 160, 0.5);
    display: inline-block;
    margin: 2px;
  }
  
  .circleSelected{
    background: #FF3246;
  }

.buttonPosition{
    width: 100%;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 14px;
    border-color:red;
    background: #FF3246;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

.textdiv {
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding: 8px 0px;
    border-bottom: 1.3px solid #FFFFFF;
}

.subtextdiv {
    font-size: 20px;
    color: white;
    padding: 14px 0px;
}