<div class="first-section-wrapper">
    <div class="gravatar">
        <ngx-skeleton-loader [theme]="{
          width: '110px',
          'border-radius': '20px',
          height: '110px',
        }"></ngx-skeleton-loader>
    </div>
    <div class="gravatar-title">
        <div *ngFor="let item of [0,1,2,3]">
            <ngx-skeleton-loader [theme]="{
            width: '130px',
            'border-radius': '0',
            height: '10px',
          }"></ngx-skeleton-loader>
        </div>
    </div>
</div>