@import "/src/styles.scss";

div[scrollx=true] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    // justify-content: center;

    &::-webkit-scrollbar {
        display: none;
    }

    .itemStyle {
        flex: 0 0 auto;
    }

    &.center-capsule {
        justify-content: center;
    }
}

.headerMargin {
    margin-top: 30px;
    padding: 5%;
}

.backarrow {
    width: 25px;
    margin-right: 10px;
    position: relative;
    bottom: -15px;
    left: 15px;
}

.regionalLabel {
    position: absolute;
    z-index: 1;
    top: 52px;
    left: 25px;
}

.noBottomPadding {
    min-height: 162px;
    margin-bottom: -20px;
}

.partitionLine {
    border-bottom: 1px solid #a4a4a442;
    margin: 0 5%;
    height: 1px;
}

.capsule {
    font-size: 8px;
    border: 1px solid #BBC0D0;
    border-radius: 2px;
    vertical-align: top;
    padding: 2px 6px;
}

.addPosition {
    position: relative;
    z-index: 2;
    width: 100%;
    bottom: 19px;
    left: 33px;

    &.noImage {
        top: 42px !important;
    }
}

.addButton {
    background: white;
    width: 62px;
    text-align: center;
    border-radius: 8px;
    padding: 4px 13px;
    color: #15a292;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    box-shadow: 1px 3px 6px rgb(16 24 40 / 55%);
}

.bookButton {
    background: #28ad9e;
    width: 77px;
    text-align: center;
    border-radius: 8px;
    padding: 4px 13px;
    color: white;
    font-size: 14px;
    margin-left: -7px;
}

.bookedButton {
    background: #af8c8c;
    width: 89px;
    text-align: center;
    border-radius: 8px;
    padding: 4px 13px;
    color: white;
    font-size: 14px;
    margin-left: -13px;
}

.addeditemStyle {
    height: 24px;
    width: 100%;
    font-size: 14px;
    margin: 0;
    display: flex;
    flex-flow: row;
    position: relative;
    left: -17px;
}

.incbutton {
    width: 40px;
    text-align: center;
    background: transparent;
    color: white;
    height: 100%;
    padding: 0;
    margin: 0px;
    border: none;

    .indicator {
        background: $secondary-color3;
        display: block;
        width: 27px;
        height: 100%;
        font-size: 17px;
    }

    .leftdiv {
        border-radius: 8px 0px 0px 8px;
        padding-top: 0px;
    }

    .rightdiv {
        border-radius: 0px 8px 8px 0px;
        padding-top: 0px;
    }
}

.midsection {
    width: 20px;
    text-align: center;
    background: $secondary-color3;
    padding-top: 3px;
}

.capsuledislplay {
    display: table-cell;
}

.missedOuter {
    width: 133px;
    position: absolute;
    top: 2px;
    left: 1px;
    height: 141px;
    border-radius: 15px;
    background: #0404044f;

    div {
        background: $primary-color2;
        border-radius: 0px 0px 15px 15px;
        height: 20px;
        text-align: center;
        padding: 6px 0px;
        color: white;
        font-size: 8px;
        letter-spacing: 1px;
        word-spacing: 2px;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0px;
    }

    .missed {
        background: black;
    }

    .comingnext {
        background: $secondary-color3;
    }

    .notavailable {
        background: $primary-color3;
    }
}

.specialMenu {
    background: linear-gradient(45deg, #FECF21, transparent);
    border-radius: 11px;
}

.specialMenuIcon {
    height: 48px;
    position: relative;
    left: -25px;
    top: 21px;
}

.inlineMargin {
    display: inline-block;
    margin-right: 10px;
}

.price {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.0043em;
    color: #676F81;
}

.description {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.0006em;
    color: #676F81;
}

.itemLeftTopPadding {
    padding-top: 10px;
}

.tasteOfRegion {
    font-size: 12px;
    padding-top: 4px;
}

.offtextdiv {
    display: flex;
    flex-direction: row;

    .discountImg1 {
        background: url('~/src/assets/offer/free_delivery.svg');
        width: 100%;
        height: 27px;
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: -5px -2px;
    }

    // .discountImg2{
    //     width: 60%;
    //     background: url('~/src/assets/offer/discount_heavy.svg');
    //     height: 30px;
    //     background-repeat: no-repeat;
    //     background-size: 92%;
    //     background-position: -2px -21px;
    // }
}

.readmorestyle {
    color: #15a292;
}

.preparationTimemsg {
    font-size: 11px;
    padding-left: 10px;
    font-style: italic;
}

.orderCapsule {
    display: inline-block;
    border-radius: 17px;
    color: #808080;
    margin: 0px 6px 5px 0px;
    text-align: center;
    border: 1px solid #808080;
    font-size: 12px;
    padding: 8px 8px;

    .itemName {
        min-width: 55px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.twoCapsule {
    width: 48%;
    font-size: 15px;
}

.selectedOrder {
    background: #F85266;
    color: white !important;
    border: 1px solid #F85266 !important;
}

.lineThrough {
    text-decoration: line-through;
    padding-right: 5px;
}

.mealCapsuleDiv {
    padding: 3% 3% 0 3%;
}

.radiogrp {
    position: relative;
    top: -6px;
    left: -1px;
}

.radiobtn {
    --color: #8E95A5;
    --color-checked: #f85266;
    --border-width: 3px;
    --border-style: solid;
    --border-radius: 50%;
    width: 20px;
    height: 0px;
    top: -10px;
    position: relative;
}

/****Card Style*******/
.cardbackground {
    background: #f4f5f8;
    // margin: 10px;
    padding: 0px 5px 10px 5px;
    border-radius: 14px;

    .insideCardBackground {
        padding: 0px 10px;
    }
}

.noBottomPadding {
    padding-bottom: 10px;
    min-height: 162px;
}

.itemImage {
    border-radius: 15px;
    height: 125px;
    width: 125px !important;
}

.partitionLine {
    border-bottom: 1px solid #a4a4a442;
    margin: 0 5%;
    height: 1px;
}

.price {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.0043em;
    color: #676F81;
}

.description {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.0006em;
    color: #676F81;
}

.itemLeftTopPadding {
    padding-top: 10px;
}

.inlineMargin {
    display: inline-block;
    margin-right: 10px;
}

.discountImg {
    height: 25px;
}

.readmorestyle {
    color: #15a292;
}

/****menulist****/

.couponImageStyle {
    width: 100%;
    height: inherit;
}

.couponName {
    position: relative;
    top: 23px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}

.mealPlanDisplay {
    background: url('~/src/assets/moreimages/couponBG.png');
    background-repeat: round;
    background-size: contain;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-right: 10px;
}

.mealPlanCard {
    background: white;
    margin: 6px 1px;
    padding: 6px 2px;
    border-radius: 10px;
    width: 130px;

    .firstline {
        font-size: 15px;
        font-weight: 700;
        padding: 2px 4px;
    }

    .secondline {
        font-size: 11px;
        padding: 1px 4px;
        color: #676F81;
        font-weight: 600;
    }
}

.noMealPlan {
    padding-top: 40%;
}

.paddingBelow {
    padding-bottom: 60px;
}

.accordiondiv {
    padding: 3% 3% 0 3%;
    ;
}

.scrollBtns {
    button {
        width: 5%;
        border: none;
        border-radius: 15px;
        background-color: $primary-color1;
    }

    i {
        color: white;
        font-size: 15px;
    }
}

.custaccordionGrp {
    background: #f4f5f8;
    padding: 2%;
    border-radius: 0px;
}

.custaccodianHeader {
    padding: 10px 10px 10px 14px;
    font-size: 14px;
    height: 40px;
}

.partitionLine {
    border-bottom: 1px solid #a4a4a442;
    margin: 0 5%;
    height: 1px;
}

/****slider*****/
.sliderDiv {
    padding-top: 40px;
}

.sliderCard {
    padding: 5px 10px;

    img {
        height: 100%;
        width: 100%;
        object-fit: fill;
        border-radius: 12px;
    }
}

.circlePosition {
    text-align: center;
    line-height: 6px;
}

.circleStyle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #c3c3c3;
    display: inline-block;
    margin: 0px 3px;
}

.circleSelected {
    background: #b9041c;
}


.offerTextDiv {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.offerRedbg {
    background: url('~/src/assets/offer/offerbg_red.svg');
    background-repeat: no-repeat;
    background-size: cover
}

.offerYellowbg {
    background: url('~/src/assets/offer/offerbg_yellow.svg');
    background-repeat: no-repeat;
    background-size: cover
}

.offerGreenbg {
    background: url('~/src/assets/offer/offerbg_green.svg');
    background-repeat: no-repeat;
    background-size: cover
}

.footerdesign {
    background: #15a292;
    padding: 12px 25px;
    color: white;
}

.cartIcon {
    background: url('~/src/assets/navbar/cart.svg');
}

.cartIconstyle {
    background-size: 36px 67px !important;
    background-repeat: no-repeat !important;
    background-position: 86% -23px;
    padding-left: 31px;
}

.positionBottom {
    z-index: 3;
    left: 275px;
    position: fixed;
    bottom: 0;
    width: 969px;

    .cartParent {
        display: flex;
        flex-direction: row;

        .left-div {
            width: 50%;
        }

        .right-div {
            width: 50%;
            text-align: right;
        }
    }
}

@media only screen and (max-width: 600px) {
    div[scrollx=true] {
        &.center-capsule {
            justify-content: flex-start;
        }
    }

    .discountImg1 {
        background-size: 70% !important;
    }

    .positionBottom {
        left: 0px;
        width: 100%
    }

    .cartIconstyle {
        background-position: 56% -24px;
    }
}