.footerdesign{
    background: #15a292;
    padding: 12px 25px;
    color: white;
}
.cartIcon{
    background: url('~/src/assets/navbar/cart.svg');  
}
.cartIconstyle{
    background-size: 36px 67px !important;
    background-repeat: no-repeat !important;
    background-position: -7px -20px;
    padding-left: 31px;
}

