<div class="footerdesign pointer" (click)="goToMainCart()" *ngIf="cartObj && cartObj.itemList && cartObj.itemList.length > 0">
    <div *ngIf="cartObj.orderType !== 'subscription' ">
        <div class="row flex-row">        
            <div class="col-6 col-lg-9 col-md-9">
                <span>{{cartObj.itemList.length + cartObj.addOns.length}} 
                    {{(cartObj.itemList.length + cartObj.addOns.length) === 1 ? 'Item' : 'Items'}} | &#8377; {{getTotalPrice()}}</span>
            </div>
            <div class="col-6 col-lg-3 col-md-3 alignRight">
                <div class="cartIcon cartIconstyle">View Cart</div>
            </div>
        </div >
    </div>  
    <div *ngIf="cartObj.orderType === 'subscription'">
        <div class="row flex-row">        
            <div class="col-6 col-lg-9 col-md-9">
                <span class="header5">{{subscribeText}} | &#8377; {{getTotalSubscriptionPrice()}}</span>
            </div>
            <div class="col-6 col-lg-3 col-md-3 alignRight">
                <div class="cartIcon cartIconstyle">View Cart</div>
            </div>
        </div>
    </div> 
</div>