<div class="container footerdesign" (click)="goToMainCart()" *ngIf="cartObj && cartObj.itemList && cartObj.itemList.length > 0">
    <div *ngIf="cartObj.orderType !== 'subscription' ">
        <div class="row d-flex justify-content-between">        
            <div class="col-6">
                <span>{{cartObj.itemList.length + cartObj.addOns.length}} 
                    {{(cartObj.itemList.length + cartObj.addOns.length) === 1 ? 'Item' : 'Items'}} | &#8377; {{getTotalPrice()}}</span>
            </div>
            <div class="col-6">
                <div class="cartIcon cartIconstyle right" (click)="routeToCart()">View Cart</div>
            </div>
        </div >
    </div>  
    <div *ngIf="cartObj.orderType === 'subscription' ">
        <div class="row">        
            <div class="col-7">
                <span class="header5">{{subscribeText}} | &#8377; {{getTotalSubscriptionPrice()}}</span>
            </div>
            <div class="col-5">
                <div class="cartIcon cartIconstyle" (click)="routeToCart()">View Cart</div>
            </div>
        </div>
    </div> 
</div>