@import "/src/styles.scss";

.refundItemRow{
    border-bottom: 2px solid #15141412;
}
.refundComment{    
    border-top: 3px solid #15141412;
    border-bottom: 5px solid #15141412;
}
.refundbtn{
    background: $primary-color1;
    width: 65%;
    margin: 0 auto;
    border-radius: 20px;
    // background: #e53043;
    text-align: center;
    padding: 2%;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
}

.header-wrapper{
    // font-size:18px;
    margin-bottom:10px;
    i{
        font-size:25px;
    }
}