@import "/src/styles.scss";

.refundItemRow{
    border-bottom: 2px solid #15141412;
}
.refundComment{    
    border-top: 3px solid #15141412;
    border-bottom: 5px solid #15141412;
}
.refundbtn{
    background: $primary-color1;
    text-align: center;
    padding: 1%;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
}