<div class="container">
    <div class="absolute-div">
        <h3 class="mb-4"><i class="bi bi-arrow-left pointer" (click)="back()"></i> Set delivery location</h3>
        <div class="row">
            <div class="col-12">
                <div [id]="mapid" class="mapCurrentaddress">
                    <div class="mapLoader">
                    </div>
                </div>
                <div class="bottom-div">
                    <div class="setAddressDiv">
                        <div class="fullAddress">
                            {{selectedAddress?.location}}
                        </div>
                    </div>
                    <div class="buttons" *ngIf="!showSkipButton">
                        <button class="btn btn-primary" [disabled]="!serviceAvailable" (click)="toggleAdditionalDetails()">ADD MORE DETAILS</button>
                        <button class="btn btn-secondary" [disabled]="!serviceAvailable" (click)="sendCurrentLocation('skip')">SKIP & ADD LATER</button>
                        <div class="mt-2" *ngIf="!serviceAvailable">Service not available at this location</div>
                    </div>
                    <form class="moreDetails" *ngIf="showSkipButton">
                        <div class="form-group">
                            <input type="text"  [(ngModel)]="address" name="address" class="form-control shadow-none" placeholder="Door / Flat No">
                        </div>
                        <div class="form-group">
                            <input type="text"  [(ngModel)]="landmark" name="landmark" class="form-control shadow-none" placeholder="Landmark">
                        </div>
                        <div class="btn-group-div">
                            <button type="radio" (click)="selectTag('home')" [ngClass]="{'active-btn':tagLocation === 'home'}" class="btn btn-outline-danger">Home</button>
                            <!-- <label class="btn btn-outline-danger" for="homebtn">Home</label> -->
                            <button type="radio" (click)="selectTag('work')" [ngClass]="{'active-btn':tagLocation === 'work'}" class="btn btn-outline-danger">Work</button>
                            <!-- <input type="radio" (click)="selectTag('work')" class=""  name="workbtn" id="workbtn" autocomplete="off"> -->
                            <!-- <label class="btn btn-outline-danger" for="workbtn">Work</label> -->
                            <button type="radio" (click)="selectTag('other')" [ngClass]="{'active-btn':tagLocation === 'other'}" class="btn btn-outline-danger">Other</button>
                            <!-- <input type="radio" (click)="selectTag('other')" class=""  name="otherbtn" id="otherbtn" autocomplete="off"> -->
                            <!-- <label class="btn btn-outline-danger" for="otherbtn">Other</label> -->
                        </div>
                        <button type="button" class="btn btn-primary mt-3 p-3" [disabled]="!(tagLocation && address && landmark)" (click)="sendCurrentLocation(false)">SAVE
                            ADDRESS AND PROCEED</button>
                            <div *ngIf="!serviceAvailable">Service not available at this location</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>