// .container-fluid {
//     padding: 0;
// }

.navbar {
    .navbar-collapse {
        margin-right: 150px;
    }

    li {
        font-size: 17px;
        font-weight: 500;
        padding: 10px 25px;
    }

    .navbar-brand {
        margin-left: 100px;
    }

    .location {
        margin-top: 4px;
        font-size: 14px;
        cursor: pointer;
    }
}

.near-kitchen-list{
    padding: 3% 3% 0 3%;
}

div[scrollx=true] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    .itemStyle {
    //   flex: 0 0 auto;
    //   height: 160px;
      margin: 0 4% 0 0;
    }
  }
  
  .scrollBtns {
    button {
      width: 10%;
      border: none;
      border-radius: 15px;
    }
  
    i {
      font-size: 15px;
    }
  }

.offcanvas {
    width: 35%;

    // padding-left:5%;
    .offcanvas-div {
        padding: 3% 1% 0 20%;
    }

    .form-control {
        width: 100%;
        height: 50px;
        border-radius: 0;
    }
}

.getLocation {
    width: 100%;
    height: 80px;
    padding: 5%;
    border: 1px solid #adadad;
    cursor: pointer;
}

.search-form {

    .savedAddresses,
    .recentSearches {
        height: 80%;
        border: 1px solid #adadad;
        margin-top: 15px;
        padding: 4%;
        cursor: pointer;

        h6{
            margin-left: 8%;
            font-size:13px;
            color:#adadad;
            margin-bottom:0;
            // padding-top:2%; 
        }
    }

    .flex-content {
        padding-left: 3%;
    }
}


.location-canvas-info {
    // padding-left: 7%;
    font-size: 13px;
    color: #adadad;
}

.user-popover{
    color:red;
}

@media only screen and (max-width:820px){
    .scrollBtns{
        display:none;
    }
}
