<app-header></app-header>
<div class="container-fluid">
    <div class="form-group searchBar mobileView mt-3">
        <input type="text" class="form-control searchIcon shadow-none" (click)="goToSearch()"
            placeholder="Search For Kitchen Name or Dish">
    </div>
    <!-- <app-kitchen-card [kitchen]="kitchen"></app-kitchen-card> -->
    <ng-container *ngIf="serviceAvailable">
        <div class="row">
            <div class="col-lg-8 col-sm-12 offset-lg-2 p-0">
                <app-main-slider [bannerList]="mainBannerList"></app-main-slider>
                <div class="scrollable-kitchen">
                    <div class="near-kitchen-list">
                        <div class="d-flex flex-row mt-4">
                            <div class="sectionHeader col-8">Family Kitchens Near You</div>
                            <div class="col-4 alignRight scrollBtns">
                                <button (click)="scrollRight()" class="me-2"><i class="bi bi-arrow-left"></i></button>
                                <button (click)="scrollLeft()"><i class="bi bi-arrow-right"></i></button>
                            </div>
                        </div>
                        <!-- <div class="header3 left">Restaurants with online food delivery in Pune</div> -->
                        <div class="row mt-4">
                            <div class="scroll" scrollX="true" #scrollableContent>
                                <div class="col-lg-3 col-4 col-md-4 itemStyle" *ngFor="let kitchen of nearKitchenList">
                                    <app-kitchen-card [kitchen]="kitchen"></app-kitchen-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-section">
                    <app-regional-items></app-regional-items>
                    <app-category-items></app-category-items>
                    <app-meal-time class="meal-time"></app-meal-time>
                </div>
                <div class="kitchen-section mt-4" *ngIf="kitchenList.length>0">
                    <div class="kitchen-list bgpadding3">
                        <div class="left sectionHeader">Explore Family Kitchens</div>
                        <app-kitchen-near [kitchenList]="kitchenList"></app-kitchen-near>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="serviceAvailable === false">
        <app-no-service></app-no-service>
    </ng-container>
    <app-footer class="desktopView"></app-footer>
</div>
<app-track-open-order class="trackOrder" *ngIf="serviceAvailable"></app-track-open-order>
<app-mobile-tabs class="mobile-tabs mobileView"></app-mobile-tabs>